@page "/"

<PageTitle>Tax Calculator</PageTitle>

<h1>Hello world!</h1>

<p>This is the Tax Calculator application built with Clean Architecture principles.</p>
<p>More functionality will be added in future tasks.</p>
